.container {
  padding: 20px 20px 20px 20px;
  .el-collapse-item__header {
    padding-left: 10px !important;
  }

  .el-collapse-item__content {
    padding-left: 20px !important;
  }
}
.name {
  margin-left: 20px;
  margin-bottom: 10px;
}
