.tip {
  font-size: 15px;
  margin: 10px 0px 0px 10px !important;
  margin-bottom: 0px !important;
  line-height: 1.6;
  color: #99a9bf;
}

.bigBtn {
  width: 25%;
  margin-right: 30px;
}

.largeBtn {
  width: 45%;
}

.el-button {
  padding-top: 0px;
  padding-bottom: 0px;
}
