* {
  font-size: 14px;
}

p,
li,
span,
i {
  color: #303133;
}

.el-input {
  color: #606266;
}

.el-pagination {
  &/deep/ input {
    line-height: 30px;
  }
}

.el-button {
  height: 32px !important;
  font-size: 12px;
  line-height: 12px;
}

.el-main {
  padding: 15px 20px;
  height: auto;
}

.el-main /deep/ .upload-demo,
.el-main /deep/ .el-upload {
  height: 32px;
  .el-button {
    // height: 32px;
    // margin-top: -5px;
  }
}

.el-upload-list {
  display: none !important;
}

.el-aside {
  border-right: 1px solid #d6d6db;
  & /deep/ .el-menu {
    width: 100%;
    min-height: auto;
    border: 0;
    &/deep/ li {
      padding: 0;
    }
  }
}

// 图片库
.gallery {
  z-index: 1003;
  &-container {
    &-aside {
      &/deep/ .el-menu {
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        li {
          font-size: 14px;
          height: 48px;
          line-height: 48px;
          margin-left: -20px;
          padding-left: 40px;
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
          &:focus {
            background-color: rgba(0, 0, 0, 0.1);
          }
          span {
            display: inline-block;
            font-size: 12px;
            color: #909399;
          }
        }
      }
    }
  }
  &-list {
    &-header {
      margin-bottom: 20px;
    }
    &-row {
      padding: 0;
    }
    &-col {
      border: 1px solid #d6d6db;
      overflow: hidden;
      padding: 0;
      margin-bottom: 20px;
      &-img {
        // height: 120px;
        width: 100%;
        position: relative;
        cursor: pointer;
        img {
          height: 100%;
          width: 100%;
        }
      }
      &-mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        i {
          width: 72px;
          height: 72px;
          font-size: 72px;
          font-weight: bold;
          color: #fff;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      &-glass {
        display: none;
        width: 32px;
        height: 32px;
        border: 1px solid #ebeef5;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 10px;
        right: 10px;
        i {
          width: 24px;
          height: 24px;
          font-size: 24px;
          font-weight: bold;
          color: #fff;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      &-edit {
        margin-top: 5px;
        height: 24px;
        line-height: 24px;
        text-align: left;
        .el-input {
          margin-left: 5px;
          width: 60%;
          height: 24px;
          line-height: 24px;
          vertical-align: text-bottom;
        }
        .el-button {
          width: 18px;
          height: 18px !important;
          padding: 2px 2px;
          margin-top: -5px;
        }
        &-picName {
          display: block;
          text-align: left;
          font-size: 16px;
          padding: 0 10px;
          cursor: pointer;
          span {
            display: inline-block;
            max-width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          i {
            display: none;
          }
          &:hover i {
            display: inline-block;
          }
        }
      }
      &-operation {
        padding: 5px;
      }
    }
    &-search {
      display: inline-block;
      float: left;
      .el-input {
        width: 263px;
        /deep/ input {
          height: 32px;
        }
      }
      .el-button {
        margin-left: 10px;
        margin-right: 0px;
        display: inline-block;
      }
    }
    &-button {
      padding: 3px 5px;
      margin: 0;
      width: 24px;
      height: 24px !important;
    }
    &-bigMask {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1003;
      &-img {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        max-height: 80%; // transform: scale(1);
        // transition: all ease 0.2s;
      }
    }
  } // 行内编辑
  .el-main /deep/ .el-col /deep/ .el-input /deep/ input {
    height: 24px;
    padding-left: 5px;
  } //
  .gallery-list-col:hover .gallery-list-col-glass {
    display: block;
  }
}

.el-dialog__wrapper /deep/ .el-dialog__body {
  padding: 10px 0 0 0;
}

// 图片放大
.pic-magnify {
  display: inline-block;
  position: relative; // z-index: 1003;
  &-glass {
    display: none;
    width: 28px;
    height: 28px;
    border: 1px solid #ebeef5;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 5px;
    right: 5px;
    margin: auto;
    &:hover {
      cursor: pointer;
    }
    i {
      width: 20px;
      height: 20px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.pic-magnify:hover .pic-magnify-glass {
  display: block;
}
