$blue:unquote('#324157') unquote('#1087ff');
$light-blue:unquote('#3A71A8');
$red:unquote('#C03639');
$pink: unquote('#E65D6E');
$green: unquote('#30B08F');
$tiffany: unquote('#4AB7BD');
$yellow:unquote('#FEC171');
$panGreen: unquote('#30B08F');
$white: unquote('#ffffff');
$black: unquote('#000000');
//sidebar
$menuBg:unquote('#304156');
$subMenuBg:unquote('#1f2d3d');
$menuHover:unquote('#001528');
$errors: unquote('#ed0a2b') unquote('#b3001b') unquote('#ff0025') unquote('#ff93a6') unquote('#ed0a2b66') unquote('#FF790D') !default;
$grays: unquote('#cccccc') unquote('#4d4d4d') unquote('#e6e6e6') unquote('#e6e6e666') unquote('#4d4d4d66') unquote('#999999') unquote('#F2F2F2') !default;
$greens: unquote('#30B08F') unquote('#4AB7BD') unquote('#30B08F') unquote('#0080FF') unquote('#3A71A8') !default;
$screen-sm-min: 800px;
$screen-md-min: 1024px;
$screen-lg-min: 1920px;

.error {
  color: nth($errors, 1);
}

.error-1 {
  color: nth($errors, 6);
}

.ok {
  color: nth($greens, 1);
}

.ok-1 {
  color: nth($greens, 4);
}
