* {
  transition: all 0.5s ease;
  box-sizing: border-box;
}

.process-container {
  background: #9e9e9e;
  padding: 10px;
}

.process-grid {
  width: 100%;
  // height: 42px;
  background: rgb(51, 204, 102);
  // border: 1px solid #cccccc;
  color: #fff;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &-child {
    transition: background-color 1s ease;
    // margin-bottom: 10px;

    &:hover {
      cursor: pointer;
      background-color: rgb(255, 148, 0) !important;

      span,
      i {
        color: #fff !important;
        font-weight: bold;
      }

      .process-grid-view {
        opacity: 1;
      }
    }

    &:after {
      content: '.';
      display: block;
      height: 0;
      visibility: hidden;
      clear: both;
    }

    &-space {
      display: inline-block;
      width: 6px;
      height: 14px;

      &::before {
        content: '';
      }
    }

    // 控制展开与否
    &-show {
      display: block;
      height: auto;
    }

    &-unShow {
      display: none;
      height: 0;
    }

    // &-transition {
    //   padding-bottom: 10px;
    // }
  }

  span,
  i {
    line-height: 42px;
  }

  span {
    font-size: 16px;
  }

  &-icon {
    float: left;
    margin: 0 8px 0 5px;
    color: #666;
    cursor: pointer;
  }

  &-name {
    float: left;
  }

  &-view {
    float: right;
    font-size: 14px;
    // border: 1px solid #fff;
    display: inline-block;
    height: 30px;
    line-height: 28px !important;
    margin: 5px 0 0 5px;
    padding: 0 5px;

    // opacity: 0;
    .el-icon-caret-right {
      height: 30px;
      // margin-top: 2px;
      line-height: 28px !important;
    }
  }



  &-step {
    float: right;
    // margin-right: 100px;
  }
}

.process-expand {
  // margin-bottom: 400px !important;
}

.process-unExpand {
  // margin-bottom: 10px;
}

.block-expand {
  display: block;
  height: 400px;
  margin-top: 10px;
  // background: #66ccff;
}

.block-unExpand {
  display: none;
  height: 0px;
}

.icon-expand {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.icon-unExpand {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

// 滚动条
.process-tree::-webkit-scrollbar-track,
.process-tree-outline::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.process-tree::-webkit-scrollbar-thumb,
.process-tree-outline::-webkit-scrollbar-thumb {
  background-color: rgba(102, 204, 255, 0.7); // rgba(64, 158, 255, 0.5);
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.process-tree::-webkit-scrollbar,
.process-tree-outline::-webkit-scrollbar {
  width: 8px;
}
